@{
    ViewBag.Title = "Error - Not Allowed";
}
<hgroup class="title">
    <h1 class="error">Not Allowed</h1>
    <br />
    <h2 class="error">Sorry you do not have permissions to perform this action.</h2>
</hgroup>
<p>
    Please contact the system administrator if you feel you should have permissions
    to perform this action.</p>
<p>
    If they are unavailable then you can contact the <a href="mailto:application.development@example.com">
        IT development department</a></p>
