@{
    ViewBag.Title = "Error - No Access";
}
<hgroup class="title">
    <h1 class="error">No Access</h1>
    <h2 class="error">Sorry you do not have permissions to acces this page.</h2>
</hgroup>
<p>
    Please contact the system administrator if you feel you should have access to this page.
</p>
<p>
    If you think you should have permission then contact the <a href="mailto:application.development@g4s.nhs.uk">
        IT development department</a></p>
