@{
    ViewBag.Title = "Error - Not Found";
}
<hgroup class="title">
    <h1 class="error">Not Found</h1>
    <br />
    <h2 class="error">Ooops, Sorry we could not find what you were looking for.</h2>
</hgroup>
